{% extends 'base.html.twig' %}

{% block title %}Affichage de la bouteille{% endblock %}

{% block body %}

    <h2>Affichage de la bouteille</h2>
     <h3> {{ bottle.name }} </h3>
    <a href="{{ path('app_bottle_edit', { id: bottle.id }) }}">Modifier la bouteille</a>

{% endblock %}

